* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray: #727980;
    --green: #b7cfc9;
    --dark: #ece9e9;
}

body{
    font-family:'Outfit',sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background: var(--dark);
}

a{
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* navbar */
.navbar{
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbar .main-menu ul{
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color:var(--gray);
}

.navbar ul li a i {
    margin-right: 5px;
}

.navbar ul li:last-child{
    margin-left: 10px;
}

/* hero */
.hero {
    border-style: dotted;
    border-color: black;
}

.hero .container {
    background:url('../images/bunnylogo.png') no-repeat;
    background-size:contain;
    background-position:center right;
    height: 350px;
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/* video */
.video{
    padding: 10px 0 40px;

}

.video-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.video-preview {
    margin-bottom: 20px;
}


/* part2 */
.part2 {
    padding: 40px 0;
    border-style: dotted;
    border-color: black;
}

.part2 .part2-heading{
    width: 700px;
    margin-bottom: 40px;
}

.part2-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
}

.part2 .card p:nth-child(2){
    margin-top: 20px;
    font-weight: bold;
}

/* faq */
.faq {
    padding: 40px 0;
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}

.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width: 95%;
}

.faq .faq-group .faq-group-header i{
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open{
    display: block;
}

.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dcdadb;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor:pointer;
    color: black;
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--green);
    color:white;
}
/* footer */
.footer {
    padding:40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li{
    line-height: 2.5;
}

.footer a {
    color: #1b1919;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #020202;
    margin: 20px 0;
}

/* utility classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--green);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--gray);
    color: #fff;
}

.btn-dark{
    background: var(--dark);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* text class */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* background */
.bg-primary{
    background: var(--green);
    color: #fff;
}

.bg-light{
    background: rgba(237, 214, 179, 0.909);
    color: black;
}

.bg-dark{
    background: var(--dark);
    color: black;
}

.bg-black{
    background: #dcdadb;
    color: #000;
}

.bg-white{
    background: white;
    color: #000;
}

/* card */
.card {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
}
/* hamburger button */
.hamburger-button {
    display:none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* media queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media(max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content,
    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }
    /* text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }


}

@media(max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
}